:root{
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(7, 48, 75);
    --cor3: rgb(214, 113, 130);
    
}

*{
    font-family: 'Anek Latin', sans-serif;
font-family: 'Finlandica', sans-serif;
font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

button{
    border: none;
}